@model ExeAdrieleDeboraIII.Models.Moto

@{
    ViewBag.Title = "Moto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Titulo</h2>
<img src="~/img/ducati.png" />
<h4>@Model.Fabricante / @Model.Categoria / @Model.Cilindrada cc / @Model.Transmissao  </h4>
