
@{
    ViewBag.Title = "Veiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Titulo</h2>

<img src="~/img/ducati.png" width="400px" />
<h4>@Model.Fabricante / @Model.Categoria / @Model.Cilindrada cc / @Model.Transmissao  </h4>

<br />

<img src="~/img/camaro.png" width="400px"/>
<h4>@ViewBag.Fabricante / @ViewBag.Tipo / @ViewBag.Nome / @ViewBag.Transmissao </h4>


