
@{
    ViewBag.Title = "CadastroFunc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Titulo</h2>

<div><b>Código:</b> @ViewBag.IdFunc</div>
<div><b>Nome:</b> @ViewBag.Nome</div>
<div><b>Função:</b> @ViewBag.Funcao</div>


@Scripts.Render("~/Scripts/conditionals")