@model ExeAdrieleDeboraIII.Models.Funcionario
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Titulo</h2>

<h4 style=" background:red; color:white;">@TempData["Alerta"]</h4>

<form action="CadastroFunc" method="post">
    <div>
        <label for="IdFunc">Codigo</label>
    </div>
    <div>
        <input class="txt_id" type="number" value="@Model.IdFunc" name="IdFunc" />
    </div>
    <br />
    <div>
        <label for="Nome">Nome</label>
        <input class="txt_nome" type="text" value="@Model.Nome" name="Nome" />
    </div>
    <br />
    <div>
        <label for="Funcao">Função</label>
        <input class="txt_funcao" type="text" value="@Model.Funcao" name="Funcao" />
    </div>
    <br />
    <div>
        <input onclick="Cadastrar" type="submit" value="Cadastrar" />
    </div>

</form>

@Scripts.Render("~/bundle/conditionals")

